name: Test Local Action

on:
  workflow_call:
  workflow_dispatch: # to trigger manually

permissions:
  actions: write
  contents: read

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      max-parallel: 8
      fail-fast: false
      matrix:
        os:
          [
#            ubuntu-latest,
            ubuntu-24.04,
#            ubuntu-22.04,
#            ubuntu-24.04-arm,
#            ubuntu-22.04-arm,
#            macos-latest,
#            macos-26,
#            macos-15,
#            macos-14,
#            macos-15-intel,
          ]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Test action to setup python environment
        uses: ./
        working-directory: ./test_project

      - name: Test environment
        run: |
          python -c "import myproject; print(myproject)"


