name: Verify Workflows

on:
  pull_request:
    paths:
      - ".github/workflows/*" # Trigger on changes to workflow files
  push:
    paths:
      - ".github/workflows/*" # Trigger on changes to workflow files
  workflow_dispatch: # to trigger manually

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-24.04
    timeout-minutes: 10

    steps:
      - name: Verify GitHub Workflows
        uses: durandtibo/verify-github-workflow-action@v0.0.1
